# dependencies
node_modules/
.pnp
.pnp.js

# builds
dist/
build/
.next/
out/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local
!.env.example

# prisma
prisma/*.db
prisma/migrations/dev.db*

# logs
*.log
npm-debug.log*
logs/

# editor / os
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# testing
coverage/

# misc
.turbo/
.vercel/
